img{
    width: 200px;
    height: 100px;
}

.signUp{
    background-color: #172774;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.5;
    margin: 10px;
}
.signIn{
  background-color: #172774;
  color: #fff;
    font-weight: 700;
    letter-spacing: 1;
    
    width: 100px;
}