.header2_container{
    /* background-color: brown; */
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 60px;
   border: 1px solid #172774 ;
   border-radius: 10px;
   padding-bottom: 50px;
}
.span-amount{
    font-size: 25px;
    font-weight: 900;
    color: #172774;
}
.block-span{
    font-size: 10px;
    color: #555;
    font-family: monospace;
    letter-spacing: 1.5;
}
.icons-contaier{
    /* background-color: red; */
    padding-left: 20px;
    
}
.content-containr2{
 
    /* background-color: red; */
    width: 40%;
}
.head-img2{
 
   width: 40%;
   
}
.content2-head{
    font-size: 30px;
    font-weight: 900;
  
}
.head_p2{
    font-size: 10px;
   
    color: #333;
    font-weight: 600;
}

@media (min-width: 992px) { /* Target screens larger than 992px (PC size) */
  .header2_container {
    margin-left: 200px; /* Add margin-left for larger screens */
     margin-right: 200px; /* Add margin-left for larger screens */
     padding: 20px;
  }
}
.content-2-btn{
    width: 150px;
}